@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.about-text h1 {
  font-size: 4rem;
  font-family: 'Geist', 'Inter', sans-serif;
  color: #E0F2FE;
  font-weight: 500;
}

.about-text p {
  font-size: 1.25rem;
  color: #9CA3AF;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}

