

@keyframes ripple {
  0% {
    background-size: 200% 200%;
  }
  50% {
    background-size: 220% 220%;
  }
  100% {
    background-size: 200% 200%;
  }
}

@keyframes scrollWheel {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(8px);
    opacity: 0;
  }
}

.animate-scrollWheel {
  animation: scrollWheel 1.2s ease-in-out infinite;
}

